body {
	background-color: #f4f4f4;
}

/*
#animation1{
	width: 450px;
	height: 200px;
	background-color: white;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}
*/
#animation1{
	width: 306px;
	height: 170px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}

#animation2{
	width: 306px;
	height: 170px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;
}

#animation3{
	width: 306px;
	height: 170px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;
}

#animation4{
	width: 306px;
	height: 170px;
	background-color: #FFFFFF;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}

#animation5{
	width: 306px;
	height: 170px;
	background-color: #FFFFFF;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;
}

#animation6{
	width: 306px;
	height: 170px;
	background-color: #FFFFFF;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;
}

#animation7{
	width: 306px;
	height: 170px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}

#animation8{
	width: 306px;
	height: 170px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}

#animation9{
	width: 306px;
	height: 170px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}

/*
#animation3{
	width: 450px;
	height: 200px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}

#animation4{
	width: 450px;
	height: 200px;
	background-color: #fff;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}

#animation5{
	width: 450px;
	height: 200px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;
}

#animation6{
	width: 450px;
	height: 200px;
	background-color: #fff;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}

#animation7{
	width: 450px;
	height: 200px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}

#animation8{
	width: 450px;
	height: 200px;
	background-color: #DEE0E0;
	margin: 20px 20px 0 0;
	float: left;
	overflow: hidden;

}*/
